body {
    font-family: 'Arial', sans-serif;
    background-color: #101010;
    color: #00B140;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
}

.excerpt {
    padding: 0;
    border-radius: 0;
    font-size: 1.2em;
    box-shadow: none;
}

.excerpt p {
    margin: 20px 0;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

.bottom-text {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    font-size: 0.8em;
}

.bottom-text a {
    color: ##161616;
    text-decoration: none;
}

.bottom-text a:hover {
    text-decoration: none;
}
